@import "tailwindcss";

/* Keep your custom scrollbar here if you want */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}